<ion-view title="Configuration">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    
  </ion-nav-buttons>
  <ion-content class="has-header">

    <div ng-if="!insightParams">

<form name="configureInsight" role="form" ng-submit="saveUserParams()" >
<div class="list list-inset">
  <label class="item item-input">
    <input type="text" class="form-control" name="userId" id="userId" ng-required="true" ng-minlength="2" placeholder="User Id" ng-model="userdatas.userid" autocomplete="off">
  </label>
  <label class="item item-input">
    <input type="text" class="form-control" name="userToken" id="userToken" ng-required="true" ng-minlength="2" placeholder="User Token" ng-model="userdatas.usertoken" autocomplete="off">
  </label>
</div>
<div class="padding">
    <button type="submit" class="button button-block button-positive activated" ng-disabled="configureInsight.$invalid">Enregistrer vos paramètres</button>
  </div>
</form>
<span ng-show="configureInsight.userId.$error.minlength">au moins 2 lettres</span>
<span ng-show="configureInsight.userToken.$error.minlength">au moins 2 lettres</span>
<span ng-show="userError">Les paramètres ne sont pas valides</span>

    </div>
    <div ng-if="insightParams">
        <p>Vous êtes connecté en tant que blabla</p>
        <p><a ng-click="clearInsightParams()" class="btn btn-danger">Se deconnecter</a></p>
    </div>
  </ion-content>
</ion-view>
