  <h3><button class="button button-small button-stable icon-left" ui-sref="app.project.violations({ projectId: project.id, violationType: violation.severity })">
   <i class="icon ion-chevron-left"></i>
</button> {{ violation.severity }} violations list </h3>

<div class="list card">

  <div class="item">
    <h2>{{ violation.title }}</h2>
    </div>
    <div class="item">
      <p>Category : {{ violation.category }} / Severity : {{ violation.severity }}</p>
  </div>

  <div class="item item-body">
    <p>
       {{ violation.message }}
    </p>
  </div>

  <div ng-if="violation.line" class="item item-body">
    <p>
       line: {{ violation.line }}
    </p>
    <p>
       {{ violation.context }}
    </p>
  </div>

</div>
