<ion-view title="SensioLabs Insight">
  <div class="bar bar-subheader">
    <h1 class="title">{{project.name}}</h1>
  </div>
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>


<ion-content class="has-subheader has-footer">
    <ion-list>
        <ion-item ng-repeat="violation in project.last_analysis.violations | filter:{ severity: violationType }" ui-sref="app.violation({ projectId: project.id, violationType: violationType, violationId: violation.internal_id })" class="item item-icon-right">
        <h2>{{ violation.title }}</h2>
        <p>Category: <span class="calm">{{ violation.category}}</span></p>
        <i class="icon ion-ios7-arrow-right"></i>
        </ion-item>
    </ion-list>
</ion-content>

<div class="bar bar-footer bar-stable">
  <div class="title">@Marmelab</div>
</div>


</ion-view>
